@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    font-family: Oxanium; /* Set the font to Oxanium */
    margin: 0; /* Set the overall margin to 0 */
}

body{
    background-color: #191919; /* Overall background */
    transition: background-color 0.3s; /* For the overlay */
    overflow-x: hidden; /* To disable the x axis or bottom scrollbar */
}

.body{
    background-color: #F1F0E8; /* Overall background */
}

html {
    scroll-behavior: smooth; /* For the nav scroll */
}

/* Overlay */
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/* Scroll */
.scroll{
    margin: 0 200px;
    margin-top: -100px;
    position: relative;
}

.scroll h1{
    width: 11rem;
    color: #FAF7F0;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 100;
    opacity: 60%;
}

.scroll::before{
    content: '';
    position: absolute;
    left: 5.3rem;
    top: 200%;
    height: 400px;
    width: 1px; 
    background-color: #FAF7F0;
    opacity: 30%;
}

/* Scramble */
.scramble-link {
    white-space: nowrap;
    text-align: center;
    overflow: hidden; 
  }

@media only screen and (max-width: 1629px){
    .scroll{
        margin: 0 100px;
        margin-top: -60px;
    }
}

@media only screen and (max-width: 1400px){
    .scroll{
        margin: 0 100px;
        margin-top: -100px;
    }
}

@media only screen and (max-width: 1200px){
    .scroll{
        margin: 0 50px;
        margin-top: -120px;
    }
}

@media only screen and (max-width: 1000px){
    .scroll{
        margin: 0 50px;
        margin-top: -40px;
    }
}

@media only screen and (max-width: 800px){
    .scroll{
        margin: 0 20px;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 500px){
    .scroll{
        margin: 0 20px;
        margin-top: -100px;
    }

    .scroll h1{
        width: 9rem;
        color: #FAF7F0;
        font-size: 10px;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 100;
    }
    
    .scroll::before{
        content: '';
        position: absolute;
        left: 4.3rem;
        top: 200%;
        height: 400px;
        width: 1px; 
        background-color: #FAF7F0; 
        opacity: 50%;
    }
}














/* Navigation Bar */
.nav-bar{
    margin: 40px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    text-decoration: none;
    color: #FAF7F0;
    letter-spacing: 2px;
    font-weight: 900;
}

.nav-ul{
    display: flex;
    gap: 25px;
}

.nav-ul li{
    list-style-type: none;
}

.nav-ul li a{
    text-decoration: none;
    color: #FAF7F0;
    letter-spacing: 2px;
}

.nav-toggle{
    display: none;
}

@media only screen and (max-width: 1629px){
    .nav-bar{
        margin: 40px 100px;
    }
}

@media only screen and (max-width: 1200px){
    .nav-bar{
        margin: 40px 50px;
    }
}

@media only screen and (max-width: 800px){
    .nav-bar{
        margin: 30px 20px;
    }

    .nav-toggle {
        margin-top: 10px;
        display: block;
        cursor: pointer;
        z-index: 2; 
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #FAF7F0;
        margin: 5px 0;
        transition: 0.4s;
    }

    .bar:nth-child(4) {
        opacity: 0;
    }

    .bar:nth-child(3) {
        opacity: 0;
    }
    
    .change .bar:nth-child(1) {
        transform: translate(0, 0);
        background-color: #FAF7F0;
    }
    
    .change .bar:nth-child(2) {
        transform: rotate(90deg) translate(3px, 11px);
        background-color: #FAF7F0;
    }
    
    .change .bar:nth-child(3) {
        transform: rotate(90deg) translate(-3px, -11px);
        background-color: #FAF7F0;
        opacity: 1;
    }

    .change .bar:nth-child(4) {
        transform: translate(0, 0);
        background-color: #FAF7F0;
        opacity: 1;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
        right: 0;
        margin-top: 10px;
        margin-right: 30px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        background-color: #FAF7F0;
        width: 12rem;
        height: 30vh;
        text-align: center;
        border-radius: 10px; 
    }

    .nav-ul{
        flex-direction: column;
        padding-left: 0;
        margin-left: 0;
    }

    .nav-ul li a{
        font-size: 25px;
        color: #191919;
    }
}

@media only screen and (max-width: 375px){
    .nav-bar{
        margin: 30px 20px;
    }

    .nav-toggle {
        margin-top: 10px;
        display: block;
        cursor: pointer;
        z-index: 2; 
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #FAF7F0;
        margin: 5px 0;
        transition: 0.4s;
    }

    .bar:nth-child(4) {
        opacity: 0;
    }

    .bar:nth-child(3) {
        opacity: 0;
    }
    
    .change .bar:nth-child(1) {
        transform: translate(0, 0);
        background-color: #FAF7F0;
    }
    
    .change .bar:nth-child(2) {
        transform: rotate(90deg) translate(3px, 11px);
        background-color: #FAF7F0;
    }
    
    .change .bar:nth-child(3) {
        transform: rotate(90deg) translate(-3px, -11px);
        background-color: #FAF7F0;
        opacity: 1;
    }

    .change .bar:nth-child(4) {
        transform: translate(0, 0);
        background-color: #FAF7F0;
        opacity: 1;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
        right: 0;
        margin-top: 10px;
        margin-right: 30px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50px;
        background-color: #FAF7F0;
        width: 12rem;
        height: 30vh;
        text-align: center;
        border-radius: 10px; 
    }

    .nav-ul{
        flex-direction: column;
        padding-left: 0;
        margin-left: 0;
    }

    .nav-ul li a{
        font-size: 20px;
        color: #191919;
    }
}



/* Project Header */
.project-background{
    padding: 0 0;
    padding-bottom: 0;
}

.project-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    box-shadow: 0px 5px 5px #888888;
}

@media only screen and (max-width: 1200px){
    .project-bg{
        height: 60vh;
    }
}

@media only screen and (max-width: 800px){
    .project-background{
        padding: 0 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 600px){
    .project-bg{
        height: 30vh;
    }
}
















/* Project Header */
.project-container{
    margin: 0 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #191919;
}

.project-h1{
    margin-bottom: 50px;
    font-size: 70px;
    color: #191919;
}

.project-content{
    display: flex;
    justify-content: space-between;
}

.project-text{
    width: 50%;
}

.project-text p{
    font-size: 20px;
    line-height: 35px;
    color: black;
    margin-bottom: 50px;
}

.project-text h2{
    color: #191919;
    margin-bottom: 10px;
}

.project-left-content{
    width: 40%;
}

.project-description{
    display: flex;
    flex-direction: column;
}

.project-description h3{
    color: #191919;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
}

.project-description h4{
    color: #191919;
    font-size: 25px;
    margin-bottom: 20px;
}

.project-description a{
    padding: 10px 20px;
    background-color: #191919;
    text-decoration: none;
    color: #FAF7F0;
    border-radius: 5px;
}

.project-description i{
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

.project-description a:hover i{
    transform: rotate(-45deg);
}

.upper-description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.u1{
    grid-area: 1 / 1 / 2 / 2;
}

.u2{
    grid-area: 1 / 2 / 2 / 3;
}

.lower-description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.l1{
    grid-area: 1 / 1 / 2 / 2;
}

.l2{
    grid-area: 1 / 2 / 2 / 3;
}

.project-feedback{
    margin-top: 20px;
    background-color: #191919;
    color: #FAF7F0;
    padding: 50px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.project-feedback h6{
    position: absolute;
    color: #585858;
    opacity: 0.5;
    font-size: 300px;
    top: -30px;
    left: 10px;
    z-index: -1;
}

.project-feedback p{
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #F6F6F6;
}

.feedback-person{
    margin-top: 10px;
}

.feedback-person h2{
    margin-bottom: 10px;
}

.feedback-person h3{
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 1629px){
    .project-container{
        margin: 0 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-text{
        width: 40%;
    }

    .project-left-content{
        margin-top: 50px;
        width: 45%;
    }

    .project-h1{
        margin-bottom: 50px;
        font-size: 60px;
    }

    .project-description h3{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .project-description h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .project-description a{
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1200px){
    .project-container{
        margin: 0 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .project-content{
        flex-direction: column;
    }

    .project-text{
        width: 100%;
    }

    .project-left-content{
        width: 100%;
    }

    .project-h1{
        margin-bottom: 30px;
        font-size: 50px;
    }

    .project-description h3{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .project-description h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .project-description a{
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 800px){
    .project-container{
        margin: 0 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-content{
        flex-direction: column;
    }

    .project-text{
        width: 100%;
    }

    .project-left-content{
        margin-top: 50px;
        width: 100%;
    }

    .project-h1{
        margin-bottom: 30px;
        font-size: 40px;
    }

    .project-description h3{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .project-description h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .project-description a{
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 600px){
    .project-container{
        margin: 0 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .project-content{
        flex-direction: column;
    }

    .project-text{
        width: 100%;
    }

    .project-left-content{
        width: 100%;
    }

    .project-h1{
        margin-bottom: 30px;
        font-size: 25px;
    }

    .project-text p{
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 50px;
    }
    
    .project-text h2{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .project-description h3{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .project-description h4{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .project-description a{
        padding: 10px 20px;
        font-size: 15px;
        text-decoration: none;
        border-radius: 5px;
    }

    .project-feedback{
        padding: 30px;
    }

    .project-feedback p{
        font-size: 18px;
        margin-top: 20px;
    }
}









.pagination{
    display: flex;
    margin: 0 200px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.prev a{
    font-size: 20px;
    text-decoration: none;
    color: #191919;
}

.prev a i{
    margin-right: 10px;
    color: #191919;
    transition: all 0.3s ease-in-out;
}

.prev a:hover i{
    transform: translateX(-5px);
}

.project-page a{
    font-size: 35px;
    color: #191919;
}

.next a{
    font-size: 20px;
    text-decoration: none;
    color: #191919;
}

.next a i{
    margin-left: 10px;
    color: #191919;
    transition: all 0.3s ease-in-out;
}

.next a:hover i{
    transform: translateX(5px);
}

/* SECOND PAGINATION */
.prev-2 a{
    display: none;
    font-size: 20px;
    text-decoration: none;
    color: #191919;
}

.prev-2 a i{
    margin-right: 10px;
    color: #191919;
    transition: all 0.3s ease-in-out;
}

.prev-2 a:hover i{
    transform: translateX(-5px);
}

.next-2 a{
    display: none;
    font-size: 20px;
    text-decoration: none;
    color: #191919;
}

.next-2 a i{
    margin-left: 10px;
    color: #191919;
    transition: all 0.3s ease-in-out;
}

.next-2 a:hover i{
    transform: translateX(5px);
}

@media only screen and (max-width: 800px){
    .pagination{
        margin: 0 20px;
        margin-bottom: 100px;
    }

    .prev, .next{
        display: none;
    }
    
    .prev-2 a, .next-2 a{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .pagination{
        margin: 0 20px;
        margin-bottom: 100px;
    }
    
    .prev a{
        font-size: 15px;
        text-decoration: none;
    }

    .project-page a{
        font-size: 35px;
    }

    .next a{
        font-size: 15px;
        text-decoration: none;
    }
}










/* Footer */
.footer{
    margin: 0 200px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1px solid rgba(14, 14, 14, 0.5);
    margin-bottom: 10px;
}

.footer h1{
    margin-top: 10px;
    font-size: 15px;
    color: #191919;
    letter-spacing: 1px;
    font-weight: 900;
}

.footer-icons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-icons a{
    text-decoration: none;
    color: #191919;
    font-size: 20px;
}

@media only screen and (max-width: 1629px){
    .footer{
        margin: 0 100px;
        margin-top: 200px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1200px){
    .footer{
        margin: 0 50px;
        margin-top: 200px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px){
    .footer{
        margin: 0 20px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .footer h1{
        margin-top: 10px;
        font-size: 10px;
    }

    .footer-icons{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .footer-icons a{
        text-decoration: none;
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px){
    .footer{
        margin: 0 20px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .footer h1{
        margin-top: 10px;
        font-size: 10px;
    }

    .footer-icons{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .footer-icons a{
        text-decoration: none;
        font-size: 15px;
    }
}