.dashboard{
    margin: 100px 300px;
}

.dashboard ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}

.dashboard a{
    text-decoration: none;
    font-size: 80px;
    font-weight: 800;
    color: #336D82;
}